<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>viewCVServlet</servlet-name>
        <servlet-class>controller.mentor.ViewCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRequestListServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeRequestListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeNewRequestServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeNewRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.mentor.RequestListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeUpdateRequestServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeUpdateRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRequestStatistics</servlet-name>
        <servlet-class>controller.mentee.MenteeRequestStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeUpdateRequestStatusServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeUpdateRequestStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorServlet</servlet-name>
        <servlet-class>controller.mentor.MentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>controller.mentor.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCVServlet</servlet-name>
        <servlet-class>controller.mentor.UpdateCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreeTimeServlet</servlet-name>
        <servlet-class>controller.mentor.FreeTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRatingServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeRatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCVServlet</servlet-name>
        <url-pattern>/viewCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/mentor-request-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeUpdateRequestServlet</servlet-name>
        <url-pattern>/update-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRequestListServlet</servlet-name>
        <url-pattern>/mentee-request-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeNewRequestServlet</servlet-name>
        <url-pattern>/new-request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRequestStatistics</servlet-name>
        <url-pattern>/mentee-dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeUpdateRequestStatusServlet</servlet-name>
        <url-pattern>/update-request-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorServlet</servlet-name>
        <url-pattern>/mentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/mentor-review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCVServlet</servlet-name>
        <url-pattern>/updateCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreeTimeServlet</servlet-name>
        <url-pattern>/mentor-freetime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRatingServlet</servlet-name>
        <url-pattern>/give-feedback</url-pattern>
    </servlet-mapping>
</web-app>
