<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>viewCVServlet</servlet-name>
        <servlet-class>controller.ViewCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeProfileServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRequestListServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeRequestListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeRequestSortServlet</servlet-name>
        <servlet-class>controller.mentee.MenteeRequestSortServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCVServlet</servlet-name>
        <url-pattern>/viewCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeProfileServlet</servlet-name>
        <url-pattern>/Mentee/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRequestListServlet</servlet-name>
        <url-pattern>/mentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeRequestSortServlet</servlet-name>
        <url-pattern>/menteeSort</url-pattern>
    </servlet-mapping>
</web-app>
